@import '~antd/dist/antd.css';

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App .ant-tabs {
    width: 100%;
    padding: 5px 10px;
}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
    .App .ant-tabs {
        width: 100%;
        padding: 20px 90px;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    .App .ant-tabs {
        width: 80%;
        padding: 10px 50px;
    }
}